Source: on-map
Section: net
Priority: optional
Maintainer: Lars Kruse <devel@sumpfralle.de>
Standards-Version: 4.0.0
Homepage: https://opennet-initiative.de/wiki/Karte
Vcs-Git: https://dev.opennet-initiative.de/git/on_map.git
Vcs-Browser: http://dev.opennet-initiative.de/browser/on_map

Package: on-map
Architecture: all
# libjs-openlayers ist in Debian leider in v2.13 (statt 3.x) vorhanden
# daher ist es als Kopie eingebettet
Depends: libjs-bootstrap, libjs-jquery, ${misc:Depends}
Suggests: apache2
Description: Kartendarstellung für die Opennet Initiative.
 Daten der Knoten und Verbindungen innerhalb des Mesh-Netzwerks werden
 aus der on-geronimo-API abgerufen und eingebettet in eine Karte
 dargestellt.
